/* price part border bottom css start */

.price-border-bottom {
    position: relative;
}

.price-border-bottom::after {
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 400px;
    height: 1px;
    background: rgba(128, 128, 128, .2);
    content: "";

}

.price-bold-border::after {
    height: 2px;
    background: black;
}

/* price part border bottom css end */

/* button css start */

.btn-hover {
    transition: .4s;
}

.btn-hover:hover {
    background: black;
    color: white;
}

/* promo apply btn start */

.promo-btn {
    transition: .4s;
}

.promo-btn:hover {
    background: green;
    color: white;
}

/* promo apply btn end */

/*  button css end */