.after {
    position: relative;
}

.after::after {
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 400px;
    height: 1px;
    background: rgba(128, 128, 128, .2);
    content: "";

}

.before::after {
    height: 2px;
    background: black;
}

.hover {
    transition: .4s;
}

.hover:hover {
    background: black;
    color: white;
}

.hover-green {
    transition: .4s;
}

.hover-green:hover {
    background: green;
    color: white;
}